*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

:root {
    --bg-dark: #0D0D0D;
    --bg-light: #ffffff;
    --color-primary: #260101;
    --color-secondary: #400101;
    --color-third: #730202;
    --color-forth: #BF0615;
}

p{
    color: var(--bg-light);
}

ul, ol {
    list-style: none;
}

a{
    font-size: 5rem;
}

a:link {
    color: var(--bg-light); 
    text-decoration: none;
}
a:visited {
    color:var(--bg-light);
    text-decoration:none;
}
a:hover {
    color: var(--bg-light) !important;
    background-color: var(--color-third);
    transition: 0.8s;
}
a:active {
    color: var(--color-forth);
    background-color:var(--color-forth);
}


.menu{
    background-color: #076574;
    color: #ffffff; 
    width: 100%;
    padding: 10px;
}

.container-main{
	width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-color1{
	background-color: var(--bg-dark); 
    
}

.bg-image1{
    background-image: url(../image/ocean1.jpg);

}

.header1 {
  /* background-color: var(--bg-dark); */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
   padding: 5px;
   background-image: linear-gradient(to bottom, black, transparent);
	
}

.header-title {
    color: var(--bg-light);
    font-size: 4rem;
}

.hero {
    color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-title {
    font-size: 7vmin;
    margin: 3rem 0;
    font-weight: 600;
    color: var(--bg-light);
}

.hero-text {
   font-size: 2.5vmin;
   color: var(--bg-light);
}

.btn1 {
    border: 1px solid var(--bg-dark);
    padding: 1rem 3rem;
    border-radius: 7rem;
    transition: .7s;
    text-decoration: none;
    color: var(--bg-dark );
}

.btn-small {
    padding: 7px 3rem;
}

.btn1:hover {
    background-color: var(--color-third);    
    border-color: var(--color-third);
    color: var(--color-forth);
}

.bg-image1{
    background-image: url(../images/wall.jpg);
}

.section2{
    color: var(--bg-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    
}
.sec-2-title{
    font-size: 7vmin;
    margin: 3rem 0;
    font-weight: 600;
    color: var(--bg-light);
}

.sec-2-text{
    font-size:1.5rem;
}



.img-gal{
    color: var(--bg-dark);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: row;
}

.gal-item{
    width: 40%;
    background-color: var(--color-secondary);
    padding: 2rem 2rem 2rem 2rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: .5rem
}

.gal-item img{
    width: 100%;
    border-radius: .5rem;
}

figcaption{
    color: var(--bg-light);
}


.container2{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    

}

.footer{
    background-color: var(--color-third);
    color: var(--color-forth);
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

.bg-image2{
    background-image: url(../images/outside.jpg);
}

.socials{
    font-size: 4rem;
    color: var(--color-forth);
    margin-top: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: var(--bg-light);
    border-radius: .5rem;
    padding: .25rem 4.5rem;
    transition: .7s;
}

.socials:link{
    color: var(--color-forth);

}
.socials:visited{
    color: var(--color-forth);
}
.socials:hover{
    background-color: var(--color-third);
    border-color: var(--color-third);
}
.socials:active {
    color: var(--color-forth);
    background-color:var(--color-forth);
}





